# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Node modules (nếu có)
node_modules/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
